.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-Yt-DEPIkfa_m);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-nl4BlwLajk13);
  font-family: var(--token-n0-72lsjm94E);
  font-size: var(--token-sh3R8l3DUG7d);
  line-height: var(--token-Maxigvsaz0gF);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-uYnmyAh3k3U9);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-Wt2fwz8VuHPI);
  outline-offset: 1px;
  outline-color: var(--token-Yt-DEPIkfa_m);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-EkefK1rx6Bqa);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-1UGQLacnUiR5);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-aBeIbJrUB3vV);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-jPMNneoV87ZI);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-9cc62nmHLwSU);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-tF_XMFTjwb0G);
  font-size: var(--token-IPVX3dsIikl2);
  column-gap: var(--token-Wt2fwz8VuHPI);
  row-gap: 0px;
  border-radius: var(--token-rOeRXgd2_rL3);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-IPVX3dsIikl2);
  line-height: var(--token-tF_XMFTjwb0G);
  column-gap: var(--token-rOeRXgd2_rL3);
  row-gap: 0px;
  border-radius: var(--token-rOeRXgd2_rL3);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-_MHHszPlzjWZ);
  line-height: var(--token-AYBB1qqHk-PD);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-_MHHszPlzjWZ);
  line-height: var(--token-AYBB1qqHk-PD);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-6zt8FK2TlEVx);
  border-radius: var(--token-uYnmyAh3k3U9);
}
.softBackgroundcolor_neutral {
  background: var(--token-uLFTfYdfzusv);
}
.softBackgroundcolor_muted {
  background: var(--token-BHPpb-e49l49);
}
.softBackgroundcolor_success {
  background: var(--token-scjeuS98W_xU);
}
.softBackgroundcolor_warning {
  background: var(--token-QG-qSKO4qpJ0);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-F1E1q3pRNFCx);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-uYnmyAh3k3U9);
  border: 0px solid var(--token-9ZzCSWb4Zon0);
}
.bordercolor_neutral {
  border-color: var(--token-TIq4FJK2BSCs);
}
.bordercolor_muted {
  border-color: var(--token-ATqOdjkg2hPE);
}
.bordercolor_success {
  border-color: var(--token-8Iuu2pbhI2sx);
}
.bordercolor_warning {
  border-color: var(--token-JdkethRPLq9k);
}
.bordercolor_errorDestructive {
  border-color: var(--token-xKjZWI5pN4C9);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-uYnmyAh3k3U9);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-BLk1Pkt9wDxj);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-BR9i6QMuBwS9);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-7Esb1Z3MET6Y);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__m2Ul {
  display: flex;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: var(--token-uYnmyAh3k3U9) var(--token-bwPgYn9jvShg);
}
.freeBox__m2Ul > :global(.__wab_flex-container) {
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - var(--token-uYnmyAh3k3U9));
  width: calc(100% + var(--token-uYnmyAh3k3U9));
}
.freeBox__m2Ul > :global(.__wab_flex-container) > *,
.freeBox__m2Ul > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__m2Ul > :global(.__wab_flex-container) > picture > img,
.freeBox__m2Ul
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-uYnmyAh3k3U9);
}
.freeBoxsize_extraSmall__m2Ul5Sxck {
  padding: var(--token-rOeRXgd2_rL3) var(--token-uYnmyAh3k3U9);
}
.freeBoxsize_small__m2Uli0A2V {
  padding: var(--token-uYnmyAh3k3U9) var(--token-nl4BlwLajk13);
}
.freeBoxsize_large__m2ULebhNy {
  padding-top: var(--token-rOeRXgd2_rL3);
  padding-bottom: var(--token-rOeRXgd2_rL3);
}
.freeBoxsize_extraLarge__m2UlAb0PX {
  padding-left: var(--token-JHyfh75VsbqR);
  padding-right: var(--token-JHyfh75VsbqR);
}
.freeBoxroundedFull__m2Ul7FtLu {
  padding-right: var(--token-JHyfh75VsbqR);
  padding-left: var(--token-JHyfh75VsbqR);
}
.freeBox__rrJl {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__rrJlKu7L {
  display: flex;
}
.slotTargetStart {
  color: var(--token-l1Rkt7vsG9Nf);
}
.slotTargetStartcolor_neutral {
  color: var(--token-sPuDRhblt3lz);
}
.slotTargetStartcolor_muted {
  color: var(--token-iD_RBYHl9fin);
}
.slotTargetStartcolor_success {
  color: var(--token-Hso7U9GP25g7);
}
.slotTargetStartcolor_warning {
  color: var(--token-PQQfNEFtczja);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-AzOkz_wEwtsf);
}
.slotTargetStarttype_soft {
  color: var(--token-MCLxhWhyxvrP);
}
.slotTargetStarttype_bordered {
  color: var(--token-MCLxhWhyxvrP);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-IPVX3dsIikl2);
}
.slotTargetStartsize_small {
  font-size: var(--token-IPVX3dsIikl2);
}
.slotTargetStartsize_large {
  font-size: var(--token-_MHHszPlzjWZ);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-_MHHszPlzjWZ);
}
.slotTargetStartcolor_neutral_type_soft {
  color: var(--token-BsdAXKc5VWm2);
}
.slotTargetStartcolor_neutral_type_bordered {
  color: var(--token-BsdAXKc5VWm2);
}
.slotTargetStarttype_soft_color_muted {
  color: var(--token-gqINQuWLWng5);
}
.slotTargetStarttype_bordered_color_muted {
  color: var(--token-gqINQuWLWng5);
}
.slotTargetStartcolor_success_type_soft {
  color: var(--token-xdFJcKNxNT7Y);
}
.slotTargetStartcolor_success_type_bordered {
  color: var(--token-xdFJcKNxNT7Y);
}
.slotTargetStartcolor_warning_type_soft {
  color: var(--token-YRjqO71_4FLb);
}
.slotTargetStartcolor_warning_type_bordered {
  color: var(--token-YRjqO71_4FLb);
}
.slotTargetStartcolor_errorDestructive_type_soft {
  color: var(--token-FinDlKCTo_EY);
}
.slotTargetStartcolor_errorDestructive_type_bordered {
  color: var(--token-FinDlKCTo_EY);
}
.svg__yfXva {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-l1Rkt7vsG9Nf);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-sPuDRhblt3lz);
}
.slotTargetLabelcolor_muted {
  color: var(--token-iD_RBYHl9fin);
}
.slotTargetLabelcolor_success {
  color: var(--token-Hso7U9GP25g7);
}
.slotTargetLabelcolor_warning {
  color: var(--token-PQQfNEFtczja);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-AzOkz_wEwtsf);
}
.slotTargetLabeltype_soft {
  color: var(--token-MCLxhWhyxvrP);
}
.slotTargetLabeltype_bordered {
  color: var(--token-MCLxhWhyxvrP);
}
.slotTargetLabelcolor_neutral_type_soft {
  color: var(--token-BsdAXKc5VWm2);
}
.slotTargetLabeltype_soft_color_muted {
  color: var(--token-gqINQuWLWng5);
}
.slotTargetLabelcolor_neutral_type_bordered {
  color: var(--token-BsdAXKc5VWm2);
}
.slotTargetLabelcolor_success_type_soft {
  color: var(--token-xdFJcKNxNT7Y);
}
.slotTargetLabeltype_bordered_color_muted {
  color: var(--token-gqINQuWLWng5);
}
.slotTargetLabelcolor_warning_type_soft {
  color: var(--token-YRjqO71_4FLb);
}
.slotTargetLabelcolor_success_type_bordered {
  color: var(--token-xdFJcKNxNT7Y);
}
.slotTargetLabelcolor_errorDestructive_type_soft {
  color: var(--token-FinDlKCTo_EY);
}
.slotTargetLabelcolor_warning_type_bordered {
  color: var(--token-YRjqO71_4FLb);
}
.slotTargetLabelcolor_errorDestructive_type_bordered {
  color: var(--token-FinDlKCTo_EY);
}
.text__hubEv {
  white-space: pre;
}
.freeBox__lgMPt {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__lgMPtydZd {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-l1Rkt7vsG9Nf);
}
.slotTargetEndcolor_neutral {
  color: var(--token-sPuDRhblt3lz);
}
.slotTargetEndcolor_muted {
  color: var(--token-iD_RBYHl9fin);
}
.slotTargetEndcolor_success {
  color: var(--token-Hso7U9GP25g7);
}
.slotTargetEndcolor_warning {
  color: var(--token-PQQfNEFtczja);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-AzOkz_wEwtsf);
}
.slotTargetEndtype_soft {
  color: var(--token-MCLxhWhyxvrP);
}
.slotTargetEndtype_bordered {
  color: var(--token-MCLxhWhyxvrP);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-IPVX3dsIikl2);
}
.slotTargetEndsize_small {
  font-size: var(--token-IPVX3dsIikl2);
}
.slotTargetEndsize_large {
  font-size: var(--token-_MHHszPlzjWZ);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-_MHHszPlzjWZ);
}
.slotTargetEndcolor_neutral_type_soft {
  color: var(--token-BsdAXKc5VWm2);
}
.slotTargetEndcolor_neutral_type_bordered {
  color: var(--token-BsdAXKc5VWm2);
}
.slotTargetEndtype_soft_color_muted {
  color: var(--token-gqINQuWLWng5);
}
.slotTargetEndtype_bordered_color_muted {
  color: var(--token-gqINQuWLWng5);
}
.slotTargetEndcolor_success_type_soft {
  color: var(--token-xdFJcKNxNT7Y);
}
.slotTargetEndcolor_success_type_bordered {
  color: var(--token-xdFJcKNxNT7Y);
}
.slotTargetEndcolor_warning_type_soft {
  color: var(--token-YRjqO71_4FLb);
}
.slotTargetEndcolor_warning_type_bordered {
  color: var(--token-YRjqO71_4FLb);
}
.slotTargetEndcolor_errorDestructive_type_soft {
  color: var(--token-FinDlKCTo_EY);
}
.slotTargetEndcolor_errorDestructive_type_bordered {
  color: var(--token-FinDlKCTo_EY);
}
.svg__n53J6 {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
